.display{
    height: 30px;
    padding:10px;
    border:1px solid #bbb;
    background:rgba(0, 0, 0, 0.06);
}

.display .history{
    float: right;
    font-size: 10px;
    color: #696868;
}

.display .active{
    float: right;
    font-size: 22px;
    color: #000;
}